<div class="main-content">
    <div class="left-section">
      <p class="greeting">
        <span class="hello-font">H E L L O !</span><br>
        <span class="white-font">I'm </span> <span class="yellow-font">Kajal</span><br>
        <span class="yellow-font">Ohal</span>
      </p>
      
      <p class="job-title">
        <span class="job">Full Stack Java Developer</span>
      </p>
    </div>
    <div class="right-section">
      <img src="assets/pic4.png" alt="Profile Image">
    </div>
</div>