<section class="about-section">
    <div class="container">
      <h2>About Me</h2>
      <p class="description">Dynamic Full Stack Java Developer proficient at translating user requirements into innovative solutions. From spearheading a real-time Quality Control System project to currently developing a user-centric website for a company, I thrive on turning ideas into reality.</p>
      <div class="details">
        <img src="/assets/pic4.png" alt="Profile Picture">
        <ul>
          <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/kajalohal/"> https://www.linkedin.com/in/kajalohal/</a></li>
          <li><strong>Phone:</strong> +91 7757941251</li>
          <li><strong>Email:</strong><a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJNsMBmfrLcjzPFDsZGbNdJkgzJPcRXWHVHrfcBDsSXxSCNtTQRDNqLLFbVXXGtvgFBbdQB"> ohalkajal123&#64;gmail.com</a></li>
          <li><strong>Degree:</strong> B.E Graduate</li>
          <li><strong>City:</strong> Pune, Maharashtra</li>
          <li><strong>Freelance:</strong> Available</li>
        </ul>
      
      <div class="skills">
        <h3>Skills</h3>
        <ul>
          <li>
            <span class="skill-name">Java</span>
            <span class="skill-percentage">90%</span>
            <div class="skill-meter">
              <div class="skill-level" style="width: 90%;"></div>
            </div>
          </li>
          <li>
            <span class="skill-name">C++</span>
            <span class="skill-percentage">85%</span>
            <div class="skill-meter">
              <div class="skill-level" style="width: 85%;"></div>
            </div>
          </li>
          <li>
            <span class="skill-name">HTML</span>
            <span class="skill-percentage">90%</span>
            <div class="skill-meter">
              <div class="skill-level" style="width: 90%;"></div>
            </div>
          </li>
          <li>
            <span class="skill-name">CSS</span>
            <span class="skill-percentage">85%</span>
            <div class="skill-meter">
              <div class="skill-level" style="width: 85%;"></div>
            </div>
          </li>
          <li>
            <span class="skill-name">Typescript</span>
            <span class="skill-percentage">70%</span>
            <div class="skill-meter">
              <div class="skill-level" style="width: 70%;"></div>
            </div>
          </li>
          <li>
            <span class="skill-name">Angular</span>
            <span class="skill-percentage">90%</span>
            <div class="skill-meter">
              <div class="skill-level" style="width: 90%;"></div>
            </div>
          </li>
          <li>
            <span class="skill-name">Spring Boot</span>
            <span class="skill-percentage">75%</span>
            <div class="skill-meter">
              <div class="skill-level" style="width: 90%;"></div>
            </div>
          </li>
          <li>
            <span class="skill-name">MySQL</span>
            <span class="skill-percentage">80%</span>
            <div class="skill-meter">
              <div class="skill-level" style="width: 80%;"></div>
            </div>
          </li>
          
          <li>
            <span class="skill-name">Object Oriented Programming (OOP)</span>
            <span class="skill-percentage">90%</span>
            <div class="skill-meter">
              <div class="skill-level" style="width: 90%;"></div>
            </div>
          </li>
          <li>
            <span class="skill-name">Database Management Systems (DBMS)</span>
            <span class="skill-percentage">90%</span>
            <div class="skill-meter">
              <div class="skill-level" style="width: 90%;"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
</div>
  </section>
  