<section class="resume-section">
    <div class="resumeinner">
<h3>Projects</h3>
    <div class="section-divider"></div>
    <div class="experience">
        
        <div class="internship">
            <p>Dec 2023 - Jan 2023</p>
            <h4>Quality Control System for Manufacturing Industry</h4>
            <ul>
                <li>Developed a website of Quality Control System for Manufacturing Industry, fostering collaboration between vendors, inspectors,
                    and administrators.</li><br>
                <li>Implemented a centralized dashboard for real-time visibility into quality control processes, allowing administrators, inspectors,
                    and vendors to track inspections, monitor compliance, and address issues promptly.</li><br>
                <li>Collaborated with stakeholders to gather requirements and incorporate feedback for continuous improvement.</li><br>
                <li>Techstack used : Angular, SpringBoot, MySQL and Java</li>
            </ul>
        </div>
        <div class="internship">
            <p>Mar 2022 - April 2022</p>
            <h4>ConstructIQ</h4>
            <ul>
                <li>Developed the ConstructIQ project using Core Java and SQL.</li><br>
                <li>Implemented a centralized dashboard for real-time visibility into project milestones, tasks, and resource utilization.</li><br>
                <li>Streamlined project planning, resource allocation, and progress tracking in construction projects.</li><br>
                <li>Techstack used : Core Java and SQL</li>
            </ul>
        </div>
    </div>
</div>
<div class="project">
    <a href="https://github.com/KajalOhal/Inspection_Portal-" target="_blank">
        <img src="assets/img1.png" alt="Project Image">
        <p>Quality Control System</p>
    </a>
</div>
</section>

