<section class="resume-section">
    <div class="resumeinner">
    <!-- Summary -->
    <div class="summary">
        <h3>Summary</h3>
        <p>Passionate Full Stack Java Developer with a strong commitment to fostering growth and innovation in a collaborative, challenging work environment. Proficient in Java, OOP, DBMS, HTML, CSS, TypeScript, Angular, Spring Boot, Hibernate, and MySQL.</p>
    </div>

    <!-- Experience -->
    <h3>Internships</h3>
    <div class="section-divider"></div>
    <div class="experience">
        
        <div class="internship">
            <p>Jan 2022 – Apr 2022</p>
            <h4>Core Java and SQL Intern - TCR Innovation</h4>
            <ul>
                <li>Spearheaded the development of ConstructIQ project, a Core Java-based application focusing on streamlining project planning and resource allocation in the construction industry.</li>
                <li>Played a pivotal role in the backend development using SQL, ensuring seamless data management and integration within the ConstructIQ project.</li>
            </ul>
        </div>
        <div class="internship">
            <p>May 2019 – July 2019</p>
            <h4>Software Engineering Intern - Config Software Solutions</h4>
            <ul>
                <li>Contributed to software module development, actively participating in the implementation and testing phases of client projects.</li>
                <li>Collaborated with senior developers to optimize code efficiency and enhance software performance, gaining valuable insights into industry best practices.</li>
            </ul>
        </div>
    </div>

    <!-- Education -->
    <h3>Education</h3>
    <div class="section-divider"></div>
    <div class="experience">
        
        <div class="internship">
            <p>2022 – 2023</p>
            <h4>Bachelor of Computer Engineering</h4>
            <h5>Sinhgad College of Engineering</h5>
            <h5>CGPA: 8.90</h5>

        </div>
        <div class="internship">
            <p>2019 – 2020</p>
            <h4>Diploma in Computer Engineering</h4>
            <h5>Government Polytechnic Ahmednagar</h5>
            <h5>Percentage: 90%</h5>
        </div>
    </div>

    <!-- Download CV button -->
    <div class="download-cv">
    <button><a href="https://drive.google.com/drive/folders/1ojpEOA5_K-wFwptR2oHljORuAbKrArrG" target="_blank" download>Download CV</a></button>
</div>

</div>
</section>
